.footerNav {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerNav a img {
    background-color: white;
    border-radius: 30%;
    margin-top: 5px;
    height: 30px;
    width: 30px;
}
