@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
/* MAIN PAGE AND BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-color1: #fafaff;
}
body {
  background-color: var(--background-color1);
  max-width: 100%;
  overflow-x: hidden;
}

.pageContainer {
  margin-top: 8%;
  margin-left: 8%;
  margin-right: 8%;
}

.top-tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.id-container {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
}

.id-info {
  margin-top: 3px;
}

#id-info-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #2f3542;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#id-info-role {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #2f3542;
  opacity: 0.5;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.notification-pic {
  height: 48px;
  width: 48px;
}

.content-container {
  margin-top: 20px;
}

.searchbar {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(47, 53, 66, 0.1);
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
}

.searchbar img {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.searchbar input {
  border-style: none;
  width: 75%;
}

.content-container h1 {
  margin-top: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #2f3542;
}

.bottom-tab {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottom-tab div {
  display: flex;
  flex-direction: row;
}

.bottom-tab div img {
  background-color: white;
  border-radius: 30%;
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

.tasks-btn {
  width: 121px;
  height: 40px;
  background: #3742fa;
  box-shadow: 0px 10px 20px rgba(55, 66, 250, 0.4);
  border-radius: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tasks-btn p {
  margin-top: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

#taskimg {
  height: 20px;
  width: 20px;
  margin-top: 10px
}