@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-color1: #fafaff;
  --background-color2: #ffffff;
  --background-color3: #ededed;
  --background-color4: #1E1E1E;
  --primary-color: #4b49ac;
  --secondary-color: #0c007d;
  --Border-color: #3f0097;
  --one-use-color: #3f0097;
  --two-use-color: #5500cb;
}
body {
  background-color: var(--background-color4);
  max-width: 100%;
  overflow-x: hidden;
}
 
.email-input,
.message,
.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-input,
.message,
.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.email-input input {
  width: 250px;
  height: 42px;
  border-radius: 5px 5px 5px 5px;
  background-color: var(--background-color3);
  padding: 0 15px;
  font-size: 15px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.password-input input {
  width: 250px;
  height: 42px;
  border-radius: 5px 5px 5px 5px;
  background-color: var(--background-color3);
  padding: 0 15px;
  font-size: 15px;
  outline: none;
  border: none;
  margin-bottom: 25px;
}

.main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
}
 
.main::-webkit-scrollbar-thumb {
  background-image:
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}
.main::-webkit-scrollbar {
  width: 5px;
}
.main::-webkit-scrollbar-track {
  background-color: #9e9e9eb2;
}

.main-container {
  min-height: 380px;
  max-width: 582px;
  margin: 70px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}
.main-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  overflow-x: auto;
}
.login {
  height: 35px;
  width: 250px;
  border-radius: 8px;
  background-color: #5500cb;
  color: white;
  font-size: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 5px;
}
.login:hover {
  cursor: pointer;
  background-color: #7b36dc;
  /*color: #a4a4a4*/
}
 
.application-Name {
  font-size: 19px;
  font-weight: 600;
  color: #A4A6B3;
  margin-left: auto;
  margin-right: auto;
}
.login-title {
  font-size: 30px;
  font-weight: 600;
  color: #252733;
  text-align: center;
}
.login-desc {
  font-size: 19px;
  font-weight: 450;
  color: #9FA2B4;
  text-align: center;
  margin-bottom: 30px;
}

.main-body {
  max-width: 582px;
  overflow-x: auto;
  padding: 20px;
}
.t-op {
  font-size: 18px;
  letter-spacing: 0px;
  padding: 0 130px;
  color: #9FA2B4;
  font-weight: 500;
}
.signup-desc {
  font-size: 12px;
  font-weight: 450;
  letter-spacing: 0px;
  padding: 0 130px;
  text-align: center;
}
.signup {
  font-size: 12px;
  font-weight: 450;
  letter-spacing: 0px;
  padding: 0 130px;
  text-align: center;
  color: #3751FF;
  cursor: pointer;
}